
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    
    font-family: 'Roboto', sans-serif;
}



header {
    background-color: #606c38;
    margin: 0;
    text-align: center;

}

h1 {
    padding: 10px;
}

.nav-bar ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    background-color: #fefae0;
}



.nav-bar li {
    flex: auto;
    align-content: center;
    text-decoration: none;
    height: 3em;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-bar a:hover {
    background-color: #dda15e;
    transition: background-color 0.3s ease;
    color: white;

}

main {
    background-color: white;
    display: grid;
    grid-template: 1fr/ 1fr auto;
}

footer {
    background-color: #606c38;
    padding: 20px;
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    
    background-color: #dda15e;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;


}
.country-div{
    padding: 20px;
    flex: auto;
}

.card-content {
    padding: 20px;
    font-size: 20px;
}
p{font-size: 20px;}

img {

    border-radius: 10px;
    float: left;
    margin-right: 1em;
}

.card2 {
    flex: auto;
    padding: 20px;
    

    background-color: #dda15e;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;

}
.card2 ul{
    display: flex;
    flex-direction: column;
    gap: 3em;
    list-style-type: none;
    margin-top: 2em;
}

.img-flag {

    width: 20%;
    height: 80%;
    
    float: right;
}

