/** **/
body {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.parent {
    display: grid;
    grid-template: auto 1fr auto/auto 1fr auto;
    background-color: #fefae0;

}

header {
    background-color: #606c38;
    grid-column: 1/4;
    text-align: center;

}

h1 {
    padding: 10px;
}

.nav-bar ul {
    display: flex;
    margin: 0;
    list-style-type: none;
    background-color: #fefae0;
}



.nav-bar li {
    flex: auto;
    align-content: center;
    text-decoration: none;
    height: 3em;
}

.nav-bar a {
    text-decoration: none;
    color: inherit;
}

.nav-bar a:hover{
    background-color: #dda15e;
    transition: background-color 0.3s ease;
    color: white;

}

main {
    background-color: white;
    
    display: flex;

    
    
    
}

footer {
    background-color: #606c38;
    grid-column: 1/4;
    text-align: center;
}

.card {
    display: flex;
    flex-grow: 7;
    padding: 20px;
    width: 70%;
    background-color: #dda15e;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;

}

.card-content {
    padding: 20px;
    font-size: 20px;
}

img {

    border-radius: 10px;
}

.card2 {
    flex-grow: 3;
    padding: 20px;
    width: 30%;

    background-color: #dda15e;
    border-radius: 10px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 5%;

}


.img-flag {

    width: 20%;
    height: 20%;
    object-fit: cover;
}
